* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-size: cover;
    background-repeat: no-repeat;
}
.result {
    margin:0 20px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background: antiquewhite;
}
.container {
    padding: 30px 0;
    margin: auto;
    width: 80%;
    border-bottom: 1px dotted green;
    padding-bottom: 30px;
}
.container h1{
    text-align: center;
}

button {
    margin-top: 10px;
}